@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+NKo&family=Satisfy&family=Zilla+Slab:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  font-family: "Noto Sans NKo", sans-serif;
  font-family: "Satisfy", cursive;
  font-family: "Zilla Slab", serif;
  margin: 0;
  color: #8497a4;
}

body {
  font-size: 18px;
  background-color: #fff;
  color: #8497a4;
  cursor: default;
}
nav {
  width: 83vh;
  margin: auto;
}
a {
  text-decoration: none;
}
#ul {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.02667rem solid #eee;

  padding: 40px;
  margin: auto;
  width: 83vh;
  align-items: center;
  color: #1dcf9f;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
#label {
  color: #1dcf9f;
  font-size: 30px;
}
.container {
  width: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  margin: auto;
  color: #8497a4;
}

.container-x {
  border: 2px solid rgba(132, 151, 164, 0.2);
  width: 83vh;
  margin: auto;
  height: 98vh;
  margin-top: 10px;
  box-shadow: 0 0.05333rem 0.26667rem 0 rgba(49, 108, 169, 0.15);
  border: 1px solid rgba(132, 151, 164, 0.2);
}
.input-container {
  display: flex;
  justify-content: center;
  margin-top: px;
  margin: auto;
  width: 80vh;
  margin: auto;
  font-family: "Noto Sans NKo", sans-serif;
}
input {
  outline: none;
  border: none;
  padding: 23px;
  height: 60px;
  width: 80vh;
  background-color: #eef4f8;
  border-radius: 8px;
  font-size: 17px;
  color: #29303a;
  margin-top: 7vh;
}
.input {
  border: none;
  outline: none;
  border-radius: 8px;
  text-align: center;
  color: #fff;
  background-color: #1dcf9f;
  font-size: 17px;
  width: 80vh;
  height: 60px;
  margin-top: 40px;
}
.text-container {
  width: 80vh;
  margin: auto;
  display: flex;
  justify-content: space-around;
  font-size: 22px;
  padding: 40px;
}

.data-container {
  display: flex;
  border-radius: 8px;
  align-items: center;
  background-color: #eef4f8;
  width: 80vh;
  margin: auto;
  justify-content: space-between;
  padding: 10px;
  margin-top: 7vh;
}
.data-offer {
  width: 80vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #8497a4;
}
#MB {
  padding: 20px;
  text-align: center;
  border: 2px solid rgba(132, 151, 164, 0.2);
  margin-top: 10px;
  width: 20%;
  border-radius: 2px;
}
#MB:hover {
  border: 5px solid #1dcf9f;
}
.second-con {
  display: flex;
  align-items: center;
}
#pay50 {
  border: 10px solid black;
}
footer {
  position: absolute;
  bottom: 34%;
  display: none;
}
#bet {
  border-bottom: 4px solid #1dcf9f;
  border-radius: 1px;
}
ul {
  color: #323233;
  height: 0;
  width: 174vh;
}
.MTN-network,
.AIRTEL-network,
.GLO-network,
.MOBILE {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(132, 151, 164, 0.2);
  padding: 10px;
  background-color: #fff;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;

  margin: auto;
}
.inline {
  display: flex;
  align-items: center;
  padding: 5px;
}
.title {
  padding: 9px;
}
#title {
  font-size: 20px;
  font-weight: bold;
  color: #515f68;
  margin: 10px;
  padding: 20px;
  position: relative;
  top: 30px;
}
#network-change1 {
  display: flex;
  align-items: center;
}
