@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+NKo&family=Satisfy&family=Zilla+Slab:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  font-family: "Noto Sans NKo", sans-serif;
  font-family: "Satisfy", cursive;
  font-family: "Zilla Slab", serif;
  margin: 0;
  color: #8497a4;
}

body {
  font-size: 18px;
  background-color: #fff;
  color: #8497a4;
  cursor: default;
}

#pic {
  width: 35px;
  height: 35px;
  border-radius: 100px;
}
a {
  text-decoration: none;
}
#UI {
  border-bottom: 0.02667rem solid #eee;
  width: 80vh;
  margin: auto;
  display: flex;
  padding: 20px;
}
.user-name {
  margin-left: 10px;
  color: #8497a4;
  font-weight: 100;
}
.message {
  color: #8497a4;

  margin: auto;
  padding: 15px;
  font-size: 20px;
  font-weight: 100;

  width: 80vh;
}
.container {
  width: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  margin: auto;
  color: #8497a4;
}
.add,
.with,
.trans,
.life,
.oweal,
.bank {
  text-align: center;
}
#draw,
#transfer,
#style,
#weal,
#card,
#money {
  border-radius: 20;
  font-size: 70px;
  color: #eef4f8;

  border-radius: 20px;
}
.money {
  background-color: #f4d030;
}
.draw {
  background-color: #1dcf9f;
}
.tran {
  background-color: #1dcf9f;
}
.style {
  background-color: #f4d030;
}
.weal {
  background-color: #1dcf9f;
}
.card {
  background-color: #f4d030;
}
.container-x {
  border: 2px solid rgba(132, 151, 164, 0.2);
  width: 83vh;
  margin: auto;
  margin-top: 50px;
  box-shadow: 0 0.05333rem 0.26667rem 0 rgba(49, 108, 169, 0.15);
}
.input-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;

  width: 80vh;
  margin: auto;
  font-family: "Noto Sans NKo", sans-serif;
}
input {
  outline: none;
  border: none;
  padding: 23px;
  height: 60px;
  width: 80vh;
  background-color: #eef4f8;
  border-radius: 8px;
  font-size: 17px;
  color: #29303a;
}
.text-container {
  width: 80vh;
  margin: auto;
  display: flex;
  justify-content: space-around;
  font-size: 22px;
  padding: 40px;
}

#air:hover {
  border-bottom: 4px solid #1dcf9f;
  border-radius: 1px;
}
#bet:hover {
  border-bottom: 4px solid #1dcf9f;
  border-radius: 1px;
}
.data-container {
  display: flex;
  border-radius: 8px;
  align-items: center;
  background-color: #eef4f8;
  width: 80vh;
  margin: auto;
  justify-content: space-between;
  padding: 10px;
  margin-top: 40px;
}
.data-offer {
  width: 80vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #8497a4;
  padding: 10px;
  padding: 30px;
}
#MB {
  padding: 20px;
  text-align: center;
  border: 2px solid rgba(132, 151, 164, 0.2);
  margin-top: 10px;
  width: 20%;
  border-radius: 2px;
}
#MB:hover {
  border: 5px solid #1dcf9f;
}
.second-con {
  display: flex;
  align-items: center;
}
#pay50 {
  border: 10px solid black;
}

ul {
  color: #323233;
  position: relative;
  bottom: 50vh;
  height: 0;
  border: 1px solid rgba(132, 151, 164, 0.2);
  display: none;
}
.MTN-network,
.AIRTEL-network,
.GLO-network,
.MOBILE {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(132, 151, 164, 0.2);
  padding: 10px;
  background-color: #fff;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
}
.inline {
  display: flex;
  align-items: center;
  padding: 5px;
}
.title {
  padding: 3px;
}
#network-change1 {
  display: flex;
  align-items: center;
}
