@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+NKo&family=Satisfy&family=Zilla+Slab:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: default;
  font-family: "Noto Sans NKo", sans-serif;
  font-family: "Satisfy", cursive;
  font-family: "Zilla Slab", serif;
  color: #8497a4;
}
body {
  background-color: #fff;
}
.head {
  width: 80vh;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-bottom: 30px;
}
.container {
  width: 80vh;
  margin: auto;
}

.account {
  margin: auto;
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  width: 80vh;
}
#title {
  font-size: 20px;
  color: #515f68;
  font-weight: 900;
  padding: 10px;
}
.input-account {
  outline: none;
  border: none;
  padding: 23px;
  height: 60px;

  background-color: #eef4f8;
  border-radius: 8px;
  font-size: 17px;
  color: #29303a;
}
.amount {
  margin: auto;
  width: 80vh;
  margin-top: 50px;
}
.naira {
  background-color: #eef4f8;
  padding: 10px;
  font-size: 30px;
  border-radius: 8px;
  text-align: center;
  height: 60px;
  align-items: center;
  margin-right: 10px;

  display: flex;
}
#style {
  display: flex;
  align-items: center;
}
.input-amount {
  outline: none;
  border: none;
  padding: 23px;
  height: 60px;
  width: 78vh;
  background-color: #eef4f8;
  border-radius: 8px;
  font-size: 17px;
  color: #29303a;
}

#buttom-container {
  margin-top: 43px;
  width: 80vh;
  margin: auto;
  margin-top: 50px;
}
.button {
  border: none;
  background-color: #1dcf9f;
  width: 80vh;
  height: 60px;
  border-radius: 7px;
  color: #eef4f8;
  font-size: 20px;
}
#confirm {
  background-color: #8497a4;
  margin-bottom: 30px;
  border: none;

  width: 80vh;
  height: 60px;
  border-radius: 7px;
  color: #eef4f8;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: #1dcf9f;
}
