* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding: 15px;
  position: relative;
  left: 150px;
}
.border {
  border-bottom: 1px solid#BEBEBE;
  margin-left: 27%;
  width: 50%;
}
.list-style {
  display: inline;
  list-style: none;
  margin-right: 250px;
}
#icons {
  font-size: 30px;
}
.list-style a {
  text-decoration: none;
  color: #1dcf9f;
}
#symbol {
  text-align: center;
}
img {
  width: 10%;
  border-radius: 50px;
}
#data {
  font-family: "Courier New", Courier, monospace;
  color: #8497a4;
  font-size: 25px;
}
.number-flag-control {
  position: relative;
  left: 29%;
  display: flex;
}
.phone-number {
  background-color: #eef4f8;
  width: 10%;

  display: flex;
  border-radius: 7px;
}
label {
  position: relative;
  left: 29%;
}
h1 {
  font-family: "Courier New", Courier, monospace;
  color: #29303a;
  font-size: 20px;
  font-weight: 20;
}
.flag {
  width: 100%;
  padding: 10px;
}
p {
  font-size: 20px;
  padding: 17px;
  font-weight: 100;
  font-family: "Courier New", Courier, monospace;
  margin-left: 10px;
}
.contacts-input {
  margin-left: 30px;
}
.input {
  outline: none;
  border: none;
  padding: 20px;
  height: 97%;
  width: 200%;
  background-color: #eef4f8;
  border-radius: 7px;
  font-size: 20px;
  color: #29303a;
}
input:focus {
  outline: 1px solid #1dcf9f;
}
.password {
  position: relative;
  left: 29%;
  outline: none;
  border: none;
  padding: 20px;
  height: 97%;
  width: 47%;
  background-color: #eef4f8;
  border-radius: 7px;
  font-size: 20px;
  color: #29303a;
}
#button-contain {
  position: relative;
  left: 29%;
}
.button {
  outline: none;
  border: none;
  padding: 20px;
  height: 102%;
  background: #1dcf9f;
  width: 47%;

  border-radius: 7px;
  font-size: 20px;
  color: #fff;
}
.con {
  background: #8497a4;
}
button a {
  text-decoration: none;
  color: #fff;
}
