@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+NKo&family=Satisfy&family=Zilla+Slab:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: default;
  font-family: "Noto Sans NKo", sans-serif;
  font-family: "Satisfy", cursive;
  font-family: "Zilla Slab", serif;
}
body {
  background-color: #fff;
}
.head {
  width: 80vh;
  margin: auto;
  color: #1dcf9f;
  border-bottom: 0.02667rem solid #eee;
}
#transfer-option {
  display: flex;
  flex-direction: column;
  height: 16vh;
  width: 80vh;
  margin: auto;
}
#button {
  display: flex;
  justify-content: space-between;
}
#o {
  color: #1dcf9f;
}
#button-1,
#button-2 {
  border: none;
  align-items: center;
  display: flex;
  width: 50%;
  padding: 25px;
  justify-content: center;
  border-radius: 7px;
  color: #515f68;
  background: #eef4f8;
  border-bottom: 0.02667rem solid #eee;
  font-size: 25px;
}
#button-1:focus {
  background-color: #1dcf9f;
}
#button-2:focus {
  background-color: #1dcf9f;
}

#button-1:focus,
#person {
  color: #eef4f8;
}

#button-2:focus,
#bank {
  color: #eef4f8;
}

.container {
  width: 80vh;
  margin: auto;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
li {
  list-style: none;
}
#font {
  font-size: 30px;
}
h3 {
  font-weight: 100;
  font-size: 25px;
}

.account {
  margin: auto;
  display: flex;
  margin-top: 43px;
  flex-direction: column;
  width: 80vh;
}
#title,
#naira-sign {
  font-size: 20px;
  color: #515f68;
  font-weight: 900;
  padding: 10px;
}
.input-account {
  outline: none;
  border: none;
  padding: 23px;
  height: 60px;

  background-color: #eef4f8;
  border-radius: 8px;
  font-size: 17px;
  color: #29303a;
}
.amount {
  margin: auto;
  width: 80vh;
  margin-top: 43px;
}
.naira {
  background-color: #eef4f8;
  padding: 10px;
  font-size: 30px;
  border-radius: 8px;
  height: 60px;
  text-align: center;
  margin-right: 10px;
}
#style {
  display: flex;
  align-items: center;
}
.input-amount {
  outline: none;
  border: none;
  padding: 23px;
  height: 60px;
  width: 78vh;
  background-color: #eef4f8;
  border-radius: 8px;
  font-size: 17px;
  color: #29303a;
}
#user-name {
  display: flex;
  align-items: center;
  margin: 3px;
  color: #1dcf9f;
  display: non;
}
#buttom-container {
  margin-top: 43px;
  width: 80vh;
  margin: auto;
  margin-top: 43px;
}
.button {
  border: none;
  background-color: #1dcf9f;
  width: 80vh;
  height: 60px;
  border-radius: 7px;
  color: #eef4f8;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: #1dcf9f;
}
